html, body {
    box-sizing: border-box;
    margin: 0;
}

#editsvg {
    shape-rendering: auto;
    height: 100vh;
    width: 100vw;
}

#createbox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5rem;
    height: 100vh;
}

#createbox button {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #000000;
    height: 4rem;
}

#createbox button svg {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#toolbox {
    position: absolute;
}

#propertybox {
    position: absolute;
}

/* Styles inside SVG - break out to an own css? */
#editsvg.cur-rsnesw {
    cursor: nesw-resize;
}
#editsvg.cur-rsnwse {
    cursor: nwse-resize;
}
#editsvg.cur-rsns {
    cursor: ns-resize;
}
#editsvg.cur-rsew {
    cursor: ew-resize;
}

.resize-handle.edge {
    stroke: #36cbf0;
    stroke-dasharray: 5 5;
    stroke-width: 1;
}

.resize-handle.corner {
    stroke: #49abce;
    stroke-width: 1;
    fill: #ffffff;
}

/* This is important to select element through text */
text, tspan {
    pointer-events: none;
}

/* Texteditor */
.svgtexteditor {
    position: absolute;
}

.svgtexteditor .input {
    border: none;
    outline: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
    resize: none;
}

.svgtexteditor .input:focus {
    border: none;
    outline: none;
}
